@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #fff;
  background: #664aff;
}

.main_header {
  padding-top: 2%;
}

.mid {
  max-width: 600px;
  margin: 0 auto;
}

.main_header .search-input {
  background: #fff;
  width: 100%;
  border-radius: 50px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  background: transparent;
}

.search-input input {
  height: 50px;
  width: 100%;
  outline: none;
  color: rgb(202, 202, 202);
  border: none;
  border-radius: 50px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgb(255, 255, 255, 1);
  background: transparent;
  transition: box-shadow 0.5s ease;
}

.search-input input:hover {
  box-shadow: 0px 1px 5px crimson;
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: rgb(173, 173, 173);
  cursor: pointer;
  padding-right: 15px;
  /* filter: invert(98%) sepia(0%) saturate(341%) hue-rotate(179deg)
    brightness(88%) contrast(82%); */
}

/* ////////////////////////////////////////////////////// */
.scrollUp {
  background: transparent;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
}

.head_section {
  width: 100%;
}

.head_btn {
  padding: 5px 15px;
}

.heading_title {
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

.fa-user-circle {
  width: 35px;
  color: gainsboro;
  float: right;
}

.fa-bone {
  margin: 0 auto;
  color: rgb(226, 226, 226);
  vertical-align: -1.5vh;
  line-height: 1px;
}

.heading_title i {
  width: 90%;
  padding-right: 2%;
  text-align: center;
  margin: 0 auto;
}
